:root {
  --cor-menu-primary: #6772e5;
  --cor-backgraound: #f2f2f2;
  --cor-text-whide: #fff;
  --cor-text-black: #000;
}

section {

  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 0px;
  height: 100%;
  /* desconta a margem superior e inferior */
  width: calc(100% - 215px);
  /* desconta a largura do navbar e das margens */
  float: right;
  box-sizing: border-box;
  background-color: var(--cor-text-whide);
  box-shadow: 1px 1px 0 #ddd, 2px 2px 0 #ccc;
  border-radius: 10px;
}


table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 25px;
}

thead {
  background-color: #6772e5;
  color: #fff;
  text-shadow: 1px 1px 1px #444;
}

th,
td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #ccc;
}

th {
  border-bottom: 2px solid #6772e5;
  font-weight: bold;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Barra de pesquisa e Botão de cadastro */
.input-group {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}



.form-control {

  box-shadow: none;
}

.btn-primary {
  border-radius: 5px;
  margin-left: 10px;
}

.row {
  margin: 25px 0px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}