:root {
  --cor-menu-primary: #6772e5;
  --cor-backgraound: #f2f2f2;
  --cor-text-whide: #fff;
  --cor-text-black: #000;
}

section {

  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 0px;
  height: 100%;
  /* desconta a margem superior e inferior */
  width: calc(100% - 215px);
  /* desconta a largura do navbar e das margens */
  float: right;
  box-sizing: border-box;
  background-color: var(--cor-text-whide);
  box-shadow: 1px 1px 0 #ddd, 2px 2px 0 #ccc;
  border-radius: 10px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}



th,
td {
  text-align: center;
}



/* Classe CSS para tabela Aceito */


.table-recebido th {
  background-color: #0066cc;
  /* Fundo azul */
  color: #fff;
  /* Fonte branca */
  border: 5px solid #0066cc;
  /* Borda azul */
}

.table-recebido tr:hover {
  background-color: #d2e2f2;
  /* Efeito de hover com cor azul suave */
}



.table-preparo th {
  background-color: #ff9900;
  /* Fundo laranja */
  color: #fff;
  /* Fonte branca */
  border: 5px solid #ff9900;
  /* Borda laranja */
}

.table-preparo tr:hover {
  background-color: #ffe8cc;
  /* Efeito de hover com cor laranja suave */
}




.table-pronto th {
  background-color: #339933;
  /* Fundo verde */
  color: #fff;
  /* Fonte branca */
  border: 5px solid #339933;
  /* Borda verde */
}

.table-pronto tr:hover {
  background-color: #cce5cc;
  /* Efeito de hover com cor verde suave */
}

.table-finalizado th {
  background-color: #333;
  /* Fundo preto */
  color: #fff;
  /* Fonte branca */
  border: 5px solid #333;
  /* Borda preta */
}

.table-finalizado tr:hover {
  background-color: #666;
  /* Efeito de hover com cor cinza mais escura */
}


.table-cancelado th {
  background-color: #cc0000;
  /* Fundo vermelho */
  color: #fff;
  /* Fonte branca */
  border: 5px solid #cc0000;
  /* Borda vermelha */
}

.table-cancelado tr:hover {
  background-color: #f2cccc;
  /* Efeito de hover com cor vermelha suave */
}